  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  body {
    margin: 0;
    font-family: system-ui;
  }
  main {
    display: flex;
    flex-direction: column;
    padding: 6rem;
    gap: 20px;
}

